﻿
@using Igreja.WebApp.Models
@model AtividadesViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/style1.css">

    <title>Login Dark/Light Mode</title>
    <style>

        .input-box {
            margin-bottom: 20px;
        }

        .text-field {
            display: flex;
            flex-direction: column;
        }

        .custom-label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-select {
            padding: 5px;
            font-size: 16px;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <main id="container">
        <form asp-action="EditarAtividade" asp-controller="Atividades" method="post" id="login_form">
            <input type="hidden" asp-for="AtividadeID" />
            <div class="alert-index">
                @if (TempData["MensagemSucesso"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="btn btn-danger rounded-pill btn-sm close-alert" aria-label="Close">x</button>
                        @TempData["MensagemSucesso"]
                    </div>
                }
                @if (TempData["MensagemErro"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="btn btn-danger rounded-pill btn-sm close-alert" aria-label="Close">x</button>
                        @TempData["MensagemErro"]
                    </div>
                }
            </div>
            <!-- FORM HEADER -->
            <div id="form_header">
                <h1>Editar Atividade</h1>
                <i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>
            <!-- NAME -->
            <div class="input-box">
                <label for="AtividadeNome">
                    AtividadeNome
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" asp-for="AtividadeNome" class="form-control" placeholder="Digite o nome da atividade" aria-label="Digite seu nome" aria-describedby="basic-addon1" id="AtividadeNome" name="AtividadeNome">
                        @Html.ValidationMessageFor(x => x.AtividadeNome)
                    </div>
                </label>
                <label for="Descricao">
                    Descricao
                    <div class="input-field">
                        <i class="fa-solid fa-key"></i>
                        <input type="Descricao" asp-for="Descricao" class="form-control" placeholder="Digite a descrição da atividade" aria-label="Digite a descrição" aria-describedby="basic-addon1" id="Descricao" name="Descricao">
                        @Html.ValidationMessageFor(x => x.Descricao)
                    </div>
                </label>
                <!-- EMAIL -->
                <label for="DataAtividade">
                    Data Atividade
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="datetime" asp-for="DataAtividade" class="form-control" placeholder="Digite a data" aria-label="Digite a data da atividade" aria-describedby="basic-addon1" id="DataAtividade" name="DataAtividade">
                        @Html.ValidationMessageFor(x => x.DataAtividade)
                    </div>
                </label>



                <!-- Cadastrar BUTTON -->
                <button type="submit" id="login_button">
                    Editar
                </button>
                <button type="submit" id="login_button" asp-controller="Atividades" asp-action="Index">
                    voltar
                </button>
        </form>
    </main>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="~/js/site.js"></script>


</body>
</html>