@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Igreja.Dominio.Entidades;
@using Igreja.WebApp.Helper;

@model IEnumerable<MembroCadastro>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Options -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>Lista de Membros</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- Animate on scroll -->
    <link rel="stylesheet" type="text/css" href="~/css/aos.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/css/color.css">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>
<style>
    body {
        margin: 0;
        background: #3B3838;
    }

    .alert-index {
        margin-left: 185px;
        margin-right: 185px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 35px;
    }

    .main-index {
        width: 100vw;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-index {
        margin-left: 185px;
        margin-right: 185px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 35px;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 10px 40px #FFFFFF;
    }

        .card-index > h1 {
            color: #3B3838;
            font-weight: 800;
            margin: 0;
        }
</style>
<body>
    <!-- Banner Start -->
    <section class="banner position-relative">
        <div class="parallax" style="background-image: url(https://iili.io/JTMj6TQ.jpg);"></div>
        <div class="banner-data text-center">
            <h2 class="text-white font-bold">Biblia</h2>
            <img src="~/images/SimboloPresbiteriana50x65.png" alt="Banner Logo">
        </div>
    </section>
    <!-- Banner End -->
    <div class="alert-index">
        @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger rounded-pill btn-sm close-alert" aria-label="Close">x</button>
                @TempData["MensagemSucesso"]
            </div>
        }
        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger rounded-pill btn-sm close-alert" aria-label="Close">x</button>
                @TempData["MensagemErro"]
            </div>
        }
    </div>

    <div class="main-index">
        <div class="card-index">
            <h1 class="display-4">Listagem de pessoas</h1>
            <table class="table table-striped" id="tabela-geral">
                <thead class="table-dark">
                    <tr>
                        <th>Login</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Login
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @PerfilHelper.GetPerfilDescricao(item.PerfilID)
                            </td>

                            <td>
                                <a type="button" class="btn btn-outline-primary role="button" asp-action="Editar" asp-controller="Autenticacao" asp-route-pessoaID="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg>
                                    Editar
                                </a>
                                <a type="button" class="btn btn-outline-danger" role="button" asp-action="Apagar" asp-controller="Autenticacao" asp-route-pessoaID="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                    </svg>
                                    Apagar
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Subscribe Start -->
    <section class="subscribe">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <h3 class="text-white">Vamos manter contato!</h3>
                    <p class="text-white">Inscreva-se para ficar por dentro das últimas notícias e atualizações interessantes.</p>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <form>
                        <input type="text" name="Text" placeholder="Insira o seu endereço de email...">
                        <button>Se inscrever</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe End -->
    <!-- Footer One Start -->
    <footer class="gap footer-one no-bottom green-overlay">
        <div class="parallax" style="background-image: url(https://scontent.faax1-1.fna.fbcdn.net/v/t1.6435-9/83929517_102524924645681_4953547127218241536_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeGKRwB4t_U1oCXPpVDTtlpXO8_rgRssBj87z-uBGywGP-CGiUmL0CFVu-7QaMYF-zU&_nc_ohc=2_5vRhHggzoAX9Gp-Ca&_nc_oc=AQn8_lf4VrSN5JJpXnTbXG9ezUZUMqRch3pF0Xf-2b2KcgwG2T_o-SLYyHGgIEX7G6s&_nc_ht=scontent.faax1-1.fna&oh=00_AfAztEtUwLoTzxWma0PfQgRW0HbON-mNaUO4aWtsG-21cg&oe=65950E33);"></div>
        <div class="container">
            <div class="copy-right">
                <div class="social">
                    <ul class="social-medias">
                        <li><a href="https://www.facebook.com/ipbaraxa"><img src="~/images/facebook.svg" alt="facebook"></a></li>
                        <li><a href="https://www.instagram.com/ipbaraxa"><img src="~/images/instagram.svg" alt="instagram"></a></li>
                    </ul>
                </div>
                <div class="footer-rights">
                    <p class="text-white">© Copyright <span>2023 - Presbiteriana.</span> Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer One End -->
    <!-- Scroll to top -->
    <button id="scrollTop" class="scrollTopStick"><svg viewBox="0 0 490.523 490.523" fill="#fff" height="15"> <path style="fill:#000;" d="M487.411,355.047L252.744,120.38c-4.165-4.164-10.917-4.164-15.083,0L2.994,355.047 c-4.093,4.237-3.976,10.99,0.262,15.083c4.134,3.993,10.687,3.993,14.821,0l227.115-227.115l227.115,227.136 c4.237,4.093,10.99,3.976,15.083-0.261c3.993-4.134,3.993-10.688,0-14.821L487.411,355.047z"></path> <path d="M479.859,373.266c-2.831,0.005-5.548-1.115-7.552-3.115L245.192,143.015L18.077,370.151 c-4.237,4.093-10.99,3.976-15.083-0.262c-3.993-4.134-3.993-10.687,0-14.821l234.667-234.667c4.165-4.164,10.917-4.164,15.083,0 l234.667,234.667c4.159,4.172,4.148,10.926-0.024,15.085C485.388,372.146,482.681,373.265,479.859,373.266z"></path> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></button>
    <!-- Jquery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Animate on scroll Js -->
    <script src="~/js/aos.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
</body>
</html>